
body{
    font-family: 'Noto Sans JP', sans-serif;
    background: whitesmoke;
}
.card{
    border: none;

}

.nav-link{
    font-weight: 900;
    color: rgb(5, 88, 94);
    z-index: 10px;
}
.nav-link:hover{
  color: #0071bc;


}
.navbar-brand{
    font-weight: 100;
    color: rgb(24, 24, 82);
}
.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    border-bottom: 10px solid #0071bc ;
    background: whitesmoke;
}
.jumbotron{
    background-image: url(../img/backs.png);
    height: 200px;
}
.navbar-nav{
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 10px;

}
.dropdown-menu{

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
.title{

    font-weight: 100;
    

}
.card-row{
    margin-top: 50px;
}
.navbar-toggler{
    color: black;
    border: none;
}
.navbar-toggler-icon{
    color: black;
}
.mains{
    color: white;
    margin: 0 auto;
    padding:  0 auto;
    font-weight: 100;

    text-align: left;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size:50px;
}
.center{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}
.card{

    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
}
.main{
  margin-top: 30px;
}
.card:hover{
background: whitesmoke;


    
}
.btn-outline-dark{
  border: none;
  color:black;
  font-weight: 900;

}
.card-img-top,img{
    border-radius: 18px 18px 0px;
}
