body{
    font-family: 'Noto Sans JP', sans-serif;
    background: whitesmoke;
}
.card{
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-link{
    font-weight: 900;
    color: rgb(5, 88, 94);
    z-index: 10px;
}
.nav-link:hover{
  color: #0071bc;


}
.navbar-brand{
    font-weight: 100;
    color: rgb(24, 24, 82);
}
.navbar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    border-bottom: 2px solid black ;
    background: whitesmoke;
}
.jumbotron{
    background-image: url(../img/backs.png);
    height: 500px;
}
.navbar-nav{
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 10px;

}
.dropdown-menu{

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
.title{

    font-weight: 100;
    

}
.card-row{
    margin-top: 50px;
}
.navbar-toggler{
    color: black;
    border: none;
}
.navbar-toggler-icon{
    color: black;
}
.mains{
    color: white;
    margin: 0 auto;
    padding:  0 auto;
    font-weight: 100;

    text-align: left;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size:50px;
}
.center{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}
.card{
    border-bottom: 10px solid turquoise ;
    border-top: 10px solid turquoise ;
    margin: 20px;
}
.main{
  margin-top: 100px;
}
.card:hover{
background: whitesmoke;

box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.card{

    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
}
.main{
  margin-top: 30px;
}
.card:hover{
background: whitesmoke;


    
}
.btn-outline-dark{
  border: none;
  color:black;
  font-weight: 900;

}
.card-img-top,img{
    border-radius: 18px;
}
.backs{
    background: rgb(0, 97, 136);
    box-shadow: rgba(240, 46, 170, 1) 5px 5px, rgba(240, 46, 170, 1) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.inesko{
    position: fixed;
    z-index: 2;
    width: 100px;
    right: 10px;
    bottom: 10px;


}